codeclimate-test-reporter
dj-database-url
django-enumfields
django-floppyforms
django-form-utils
django-localflavor
Django>=1.10,<1.11
markdown
Pillow
pip-tools
psycopg2
pytest
pytest-cov
pytest-django
pytz
requests
whitenoise
wsgi-basic-auth
