bandit
codeclimate-test-reporter
dj-database-url
django-enumfields
django-floppyforms
django-form-utils
django-localflavor
Django
markdown
Pillow
pip-tools
psycopg2
pytest
pytest-django
pytest-cov
pytz
requests
whitenoise
wsgi-basic-auth
