{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Forest Service Prototype{% endblock %}</title>
      <link rel="stylesheet" href="{% static "css/uswds.min.css" %}">
      <style type="text/css">
        .help-text {
            font-style: italic;
            font-weight: normal;
        }
      </style>
  </head>
  <body>
    <div class="usa-grid-full">
      <div class="usa-width-one-whole">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0d/USFS_Logo.svg/965px-USFS_Logo.svg.png" style="height: 100px;float: left;">
        {% block content %}{% endblock %}
      </div>
    </div>
  <script src="{% static "js/uswds.min.js" %}"></script>
  </body>
</html>
