{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{% block title %}Forest Service Prototype{% endblock %}</title>
      <link rel="stylesheet" href="{% static "css/uswds.min.css" %}">
      <link rel="stylesheet" href="{% static "additional.css" %}">
  </head>
  <body>
    <div class="usa-grid-full">
      <div class="usa-width-one-whole">
        <img src="{% static "fs-logo.svg" %}" alt="Forest Service Logo" style="height: 100px;float: left;">
        {% block content %}{% endblock %}
      </div>
    </div>
  <script src="{% static "js/uswds.min.js" %}"></script>
  <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
  <script src="{% static "additional.js" %}"></script>
  </body>
</html>
