{% extends "specialuseform/base.html" %}

{% block content %}
<h1>Apply for a Forest Service permit</h1>

<h2>Are you organizing a non-commercial activity that involves a group of 75 or more people?</h2>
<p>"Noncommercial" means any use or activity where an entry or participation fee is not charged, and the primary purpose is not the sale of a goods or service. For example: weddings, church services, endurance rides, regattas, camping trips, hikes, music festivals, rallies, graduations, and races.</p>
<p><a href="{% url 'edit' permit.permit_id %}"><button>Apply for a non-commercial group use permit</button></a></p>

<h2>Need another kind of permit?</h2>
<p>Check back soon to apply for other types.</p>


{% endblock content %}
