{% extends "specialuseform/base.html" %}

{% block content %}
  {% load floppyforms %}
  <h1>Apply for a noncommercial group use permit</h1>


  <form method="POST" action="." class="usa-form-large" id="#application-submit">
    {% csrf_token %}
    {% for fieldset in form.fieldsets %}
        <fieldset class="{{ fieldset.classes }}">
          {% if fieldset.legend %}<legend>{{ fieldset.legend }}</legend>{% endif %}
          {% for field in fieldset %}
            {% if field.errors %}<div class="usa-input-error">{% endif %}
            <label for="{{ field|id }}" {% if field.errors %}class="usa-input-error-label"{% endif %}>
              {{ field.label }}: {% if field.field.required %}<span class="usa-additional_text">Required</span>{% endif %}
            </label>
            {% if field.help_text %}<div class="help-text usa-form-hint">{{ field.help_text }}</div>{% endif %}
            {% for error in field.errors %}
              <span class="usa-input-error-message" role="alert">{{ error }}</span>
            {% endfor %}
            {% widget field %}
            {% if field.errors %}</div>{% endif %}

            {% if field.name == 'permit_holder_name' %}
            <label for="permit-holder-same-address">Is the contact address above the same as the permit holder?</label>
            <select name="permit-holder-same-address" id="permit-holder-same-address">
             <option value="yes" selected>Yes</option>
             <option value="no">No</option>
           </select>
            {% endif %}
            {% if field.name == 'permit_holder_zipcode' %}
            <div class="button_wrapper">
              <button class="usa-button-medium add_another_permit_holder">Add another permit holder</button>
            </div>
            {% endif %}
          {% endfor %}
        </fieldset>
    {% endfor %}

    <div class="button_wrapper">
      <button class="usa-button-big" type="submit">{{ submit_text }}</button>
    </div>
    <p>
      18 U.S.C. § 1001 makes it a crime for any person knowingly and willfully to make to any department or agency of the United States any false, fictitious, or fraudulent statements or representations as to any matter within its jurisdiction. Anyone who knowingly or willfully makes or uses any false writing shall be fined not more than $10,000 or imprisoned not more than five years, or both.
    </p>
    <p>FS-2700-3b (OMB No. 0596-0082)</p>
    <p>
    </p>
  </form>
{% endblock content %}
