{% extends "specialuseform/base.html" %}

{% block content %}
  <h1>Received Application</h1>
  {% if not check_status %}
    <div class="usa-alert usa-alert-success">
      <div class="usa-alert-body" role="alert">
        <h3 class="usa-alert-heading">Application Submitted Successfully</h3>
        <p class="usa-alert-text">Application #{{ permit.permit_id }}: {{ permit.event_name }} is in the queue.</p>
      </div>
    </div>
{% endif %}

  <p>Permit Status: {{ permit.get_status_display }}</p>

  {% if user.is_authenticated %}
  <form action="{% url 'change-application' permit.permit_id 'approved' %}" method="post" id="approve-form">
    {% csrf_token %}
    <button class="usa-button-big" type="submit">Approve application</button>
  </form>

  <button>Deny application</button>
  <label for="input-type-textarea">Reason for denying application</label>
  <textarea id="input-type-textarea" name="input-type-textarea"></textarea>
  {% endif %}

  <p>You will receive an email notification from the Forest Service in a few days about whether your permit has been approved.
    If you do not hear back from the Forest Service, please call XXX-XXX-XXXX.
    Please review your information to make sure it is correct.</p>
  <a href="{% url 'edit' permit.permit_id %}"><button> Edit Permit Information</button></a>

  <a href="{% url 'cancel' permit.permit_id %}"><button> Cancel Application</button></a>
  <table>
    {% for field in permit_dict %}
      <tr>
          <th scope="col">{{ field.label }}</th><th scope="row">{{ field.data }}</th>
      </tr>
    {% endfor %}
  </table>

{% endblock content %}
