{% load static from staticfiles %}

<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
    <a href="javascript:void(0);">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <a href="http://www.fs.fed.us/"><img class="usa-footer-slim-logo-img" src="{% static "fs-logo.svg" %}" alt="Logo image"></a>
      </div>
    </div>
  </div>

</footer>
